<div fxLayout="row wrap" class="footer-container">
  <div fxFlex="100" class="info-container">
    <div fxFlex="40" class="footer-logo">
      <img src="assets/images/logo_white.jpg" alt="MegaSound logo" class="footer-img"/>
    </div>

    <div fxFlex="40" class="footer-info">
      <h3 class="footer-title">Información de contacto</h3>
      <mat-list>
        <mat-list-item class="item">
          <span matListItemLine class="item-list">
            <mat-icon class="icon-list">perm_phone_msg</mat-icon>
            (+57) 3213041698
          </span>
        </mat-list-item>

        <!-- <mat-list-item class="item">
          <span matListItemLine class="item-list">
            <mat-icon class="icon-list">email</mat-icon>
            hamilton_lo_chupa@gmail.com
          </span>
        </mat-list-item> -->

        <mat-list-item class="item">
          <span matListItemLine class="item-list">
            <mat-icon class="icon-list">info</mat-icon>
            NIT. 1106899679-4
          </span>
        </mat-list-item>
        <mat-list-item class="item">
          <span matListItemLine class="item-list">
            <mat-icon class="icon-list">location_on</mat-icon>
            Melgar, Tolima.
          </span>
        </mat-list-item>

      </mat-list>
    </div>
  </div>
  <div fxFlex="100" class="derechos"> ©Todos los derechos reservados  MegaSound Eventos </div>
</div>
