
<mat-toolbar class="transparent-navbar" fxLayout="row wrap">

   <img src="assets/images/logo_white_nobg.png" class="img-logo" >
  <div class="spacer"></div>
  <!-- <ng-container  *ngIf="invisibleMenu; else icon">
    <div class="contenedor-menu-items">
      <a class="a-item-menu" href="">Inicio</a>
      <a class="a-item-menu" href="">Nuestros servicios</a>
      <a class="a-item-menu" href="">Experiencias</a>
    </div>
    </ng-container>
  <ng-template #icon>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu" style="color:white">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item style="color:black">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
      <button mat-menu-item style="color:black">
        <mat-icon>business_center</mat-icon>
        <span>Nuestros servicios</span>
      </button>
      <button mat-menu-item style="color:black">
        <mat-icon>stars</mat-icon>
        <span>Experiencias</span>
      </button>
      <button mat-menu-item style="color:black">
        <mat-icon>info</mat-icon>
        <span>Contactenos</span>
      </button>
    </mat-menu>
  </ng-template> -->

</mat-toolbar>

