
:host {
  position: absolute;
  z-index: 9999; /* Puedes ajustar este valor según sea necesario */
}

.example-spacer {
  flex: 1 ;
}
.spacer {
  flex-grow: 1;
  flex: 1 ;
}
.transparent-navbar {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  height: fit-content;
  margin: 15px;
  display: flex;
}

.transparent-navbar .mat-toolbar-row {
  background-color: transparent;


}
.img-logo{
  width: 130px;
  height: 70px;
  margin-left: 5px;

}
.contenedor-menu-items{
  display: flex ;
  justify-content: space-around;
  width: 500px;

}
.a-item-menu{
  text-decoration: none;
  color: white;
}


/* Estilos para pantallas muy grandes (mayores de 2560px) */
@media screen and (min-width: 2561px) {
  .a-item-menu {
    font-size: 30px; /* Ajusta según tus necesidades */
    font-weight: bold;
  }
  .img-logo {
    width: 200px; /* Ajusta según tus necesidades */
    height: 120px; /* Ajusta según tus necesidades */
  }
}

/* Estilos para pantallas grandes (mayores de 1440px) */
@media screen and (min-width: 1441px) and (max-width: 2560px) {
  .a-item-menu {
    font-size: 26px;
    font-weight: bold;
  }
  .img-logo {
    width: 250px;
    height: 130px;
  }
}

/* Estilos para pantallas medianas (mayores de 1024px) */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .a-item-menu {
    font-size: 20px; /* Ajusta según tus necesidades */
  }
  .img-logo {
    width: 120px; /* Ajusta según tus necesidades */
    height: 72px; /* Ajusta según tus necesidades */
  }
}

/* Estilos para pantallas pequeñas (hasta 1024px) */
@media screen and (max-width: 1024px) {
  .a-item-menu {
    font-size: 16px; /* Ajusta según tus necesidades */
  }
  .img-logo {
    width: 100px; /* Ajusta según tus necesidades */
    height: 60px; /* Ajusta según tus necesidades */
  }
}

/* Estilos para pantallas extra pequeñas (hasta 480px) */
@media screen and (max-width: 480px) {
  .a-item-menu {
    font-size: 11px;
  }
  .img-logo {
    width: 80px;
    height: 40px;
  }
}
