
<div  fxLayout="row wrap" class="contenedor-principal">

  <div fxFlex="100" class="inicio">
    <!-- Reproductor de video HTML5 -->
    <video  #miVideo width="100%" height="auto" autoplay loop muted >
      <source src="assets/videos/blue.mp4" type="video/mp4">
      Tu navegador no soporta el elemento de video.

      <p>¡Oops! No se pudo cargar el video. Puedes intentar con un navegador diferente o revisar tu conexión a internet.</p>
    </video>
      <div fxFlex="70" class="container-intro" style="position: absolute;">
      <div class="contenedor">
        <h1 class="iam-intro">
        Alquiler de sonido y luces profesionales en Melgar! <span>&#160;</span><br>
        </h1>
      </div>
    </div>


  </div>



  <div fxFlex="100" class="servicios">


    <div class="contenedor-p-servicios" fxFlex="100">

      <span class="span-nuestros" style="font-weight: 500;">Nuestros</span>
      <br>
      <span class="span-servicios">SERVICIOS</span>

      <br>
      <article style="display: flex; justify-content: center;align-items: center; flex-direction: column;">
        <p class="p-servicios">
          <span class="span-p">Alquiler de sonido</span> profesional, <span class="span-p">luces tipo concierto</span> de ultima tecnología, equipos modernos que nos define
           como <span class="span-p">la mejor empresa en calidad de audio e iluminación</span> de escenarios.
          Realizamos todo tipo de eventos brindándote calidad de servicio, cumplimento y éxito total.
        </p>
        <p class="p-servicios">
          En nuestro servicio de alquiler de luces y sonido, ofrecemos una amplia variedad de opciones para satisfacer las necesidades de tu evento. Desde pares <span class="span-p">LED multicolor</span>
          hasta <span class="span-p">cabezas móviles beam 7r</span>, nuestra selección de luces de última tecnología garantiza una experiencia visual impresionante. Además, proporcionamos sistemas de sonido convencional,
          adaptados para eventos de celebraciones de diferentes tamaños. <span class="span-p">No importa el tipo de evento que estés planeando;</span> desde fiestas y celebraciones hasta quinceañeras, bodas, fiestas electrónicas,
           cumpleaños y eventos empresariales, tenemos soluciones específicas para cada ocasión.
        </p>
      </article>

    </div>
    <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="assets/images/consola_dj.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">


          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/images/montaje_concierto.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">


          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/images/montaje_con_pantalla.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">


          </div>
        </div>
        <div class="carousel-item">
          <img src="assets/images/monataje_luces.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">


          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="producciones">

    <div fxFlex="100" fxFlex.gt-md="100" class="titles-headings">
      <h3 style="color: white; font-weight: 500; font-size: 44px;">Producciones</h3>

    </div>

    <div fxFlex="100" fxFlex.gt-md="100" class="producciones-images">
      <div fxFlex="25" fxFlex.gt-md="25" style="margin: 20px;">
        <figure class="image-container">
          <img src="assets/images/montaje_luces_web.jpeg" alt="Mountains">
          <div class="overlay">
            <p class="over-p">Estructuras y luces</p>
          </div>

        </figure>
      </div>
      <div fxFlex="25" fxFlex.gt-md="25" style="margin: 20px;">
        <figure class="image-container">
          <img src="assets/images/pantalla_uno.jpeg" alt="Mountains">
          <div class="overlay">
            <p class="over-p">Pantalla LED</p>
          </div>

        </figure>
      </div>
      <div fxFlex="25" fxFlex.gt-md="25" style="margin: 20px;">
        <figure class="image-container">
          <img src="assets/images/carpa_uno.jpeg" alt="Mountains">
          <div class="overlay">
            <p class="over-p">Carpas</p>
          </div>

        </figure>
      </div>

    </div>

    <div fxFlex="100" fxFlex.gt-md="100"  class="producciones-images">
      <div fxFlex="25" fxFlex.gt-md="25" style="margin: 20px;">
        <figure class="image-container">
          <img src="assets/images/matrimonio.jpeg" alt="Mountains">
          <div class="overlay">
            <p class="over-p">Bodas</p>
          </div>

        </figure>
      </div>
      <div fxFlex="25" fxFlex.gt-md="25" style="margin: 20px;">
        <figure class="image-container">
          <img src="assets/images/quinceanos.jpeg" alt="Mountains">
          <div class="overlay">
            <p class="over-p">Quince años</p>
          </div>

        </figure>
      </div>
      <div fxFlex="25" fxFlex.gt-md="25" style="margin: 20px;">
        <figure class="image-container">
          <img src="assets/images/montaje_piscina.jpeg" alt="Mountains">
          <div class="overlay">
            <p class="over-p">Eventos</p>
          </div>

        </figure>
      </div>

    </div>


  </div>


  <div class="experiencias" >
    <div fxFlex="100" fxFlex.gt-md="100" class="titles-headings">
      <h3 style="color: black; font-weight: 500; font-size: 44px;">Experiencias</h3>
    </div>

    <div class="reviews-container">
      <figure class="snip1533">
        <figcaption>
          <blockquote>
            <p>Contratamos los servicios de luces y sonido para el cumpleaños de mi hija, ¡y fue todo un acierto! Desde el asesoramiento inicial
               hasta el desmontaje después del evento, el equipo de la empresa demostró profesionalismo y eficiencia. Las luces y el sonido fueron
               espectaculares, y el personal técnico estuvo siempre presente para garantizar una experiencia sin problemas. ¡Definitivamente recomendamos
              esta empresa para cualquier evento!</p>
          </blockquote>
          <h3>María Guzman</h3>

        </figcaption>
      </figure>
      <figure class="snip1533">
        <figcaption>
          <blockquote>
            <p>Nuestra empresa organizó un evento corporativo y decidimos confiar en esta empresa para el sonido, la iluminación y la pantalla LED. No podríamos estar más satisfechos con la elección. La personalización de la iluminación y el sonido según nuestras necesidades específicas fue impresionante. Además, el equipo técnico fue extremadamente profesional y reactivo. ¡Gracias por contribuir al éxito de nuestro evento!</p>
          </blockquote>
          <h3>Juan Carlos</h3>

        </figcaption>
      </figure>
      <figure class="snip1533">
        <figcaption>
          <blockquote>
            <p>Contratamos carpas para nuestra boda y no podríamos estar más felices con el resultado. Además de la variedad de tamaños disponibles, la instalación y decoración superaron nuestras expectativas. El equipo trabajó diligentemente para crear el ambiente perfecto que imaginamos. Su atención al detalle y compromiso con la satisfacción del cliente realmente se destacaron.</p>
          </blockquote>
          <h3>Ingredia Marcela</h3>

        </figcaption>
      </figure>
    </div>
  </div>
</div>



